x-app: &default-app
  ## env_file:
  ##   - ".env"
  restart: "${DOCKER_RESTART_POLICY:-unless-stopped}"
  stop_grace_period: "3s"
  tty: true
  healthcheck: &default-healthcheck
    interval: "3s"
    timeout: "1s"
    start_period: "1s"
    retries: 3
  logging:
    driver: "json-file"
    options:
      max-size: "${LOG_MAX_SIZE:-20m}"
      max-file: "${LOG_MAX_FILE:-10}"
      compress: "true"

services:
  apibackend:
    <<: *default-app
    build:
      context: './backend'
      dockerfile: Dockerfile
      args:
        - "APP_ENV=${APP_ENV}"
    environment:
      - MAGENTO_CLOUD_CLI_TOKEN=${MAGENTO_CLOUD_CLI_TOKEN}
      - NEW_RELIC_API_KEY=${NEW_RELIC_API_KEY}
    ports:
      - "${DOCKER_BACKEND_PORT_FORWARD}:${BACKEND_PORT}"
    healthcheck:
      <<: *default-healthcheck
      test: "${DOCKER_BACKEND_HEALTHCHECK_TEST}"

  frontend:
    <<: *default-app
    depends_on:
      - "apibackend"
    build:
      context: './frontend'
      dockerfile: Dockerfile
      args:
        - "APP_ENV=${APP_ENV}"
    ports:
      - "${DOCKER_FRONTEND_PORT_FORWARD}:${FRONTEND_PORT}"
    healthcheck:
      <<: *default-healthcheck
      test: "${DOCKER_FRONTEND_HEALTHCHECK_TEST}"
